/* RESET DASAR */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HALAMAN UTAMA */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #5A002A, #A3004C);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CONTAINER LOGIN */
.login-container {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
}

/* KOTAK LOGIN */
.login-box {
    width: 100%;
    max-width: 400px;
    background: #ffffff;
    padding: 40px 30px;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
}

/* LOGO */
.logo img {
    width: 120px;
    height: 120px;
    object-fit: contain;
    margin-bottom: 15px;
}

/* JUDUL */
.login-box h1 {
    color: #A3004C;
    font-size: 26px;
    margin-bottom: 10px;
}

/* SUB JUDUL */
.login-box p {
    color: #777;
    margin-bottom: 25px;
}

/* INPUT */
.login-box input {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 12px;
    font-size: 16px;
    outline: none;
}

/* SAAT INPUT DIPILIH */
.login-box input:focus {
    border-color: #A3004C;
}

/* TOMBOL LOGIN */
.login-box button {
    width: 100%;
    padding: 15px;
    background: #A3004C;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}

/* SAAT TOMBOL DITEKAN */
.login-box button:hover {
    background: #7A0038;
}